@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  /* outline: 1px solid green; */
}

body {
  background: #eee;
}
.navbar {
  background-color: rgb(66, 63, 59);
}

.navbar-brand {
  font-family: "Major Mono Display";
  color: #eee !important;
}

#main {
  margin-top: 3em;
}
