@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

:root {
  /* Color */
  --linear-gradient: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));

  --very-light-gray-blue: hsl(240, 78%, 98%);
  --light-gray-blue: hsl(234, 14%, 74%);
  --gray-blue: hsl(233, 13%, 49%);
  --dark-gray-blue: hsl(232, 13%, 33%);

  /* Font */
  --font-family: "Montserrat";
  --font-size: 15em;
  --font-weight: 700;
}

* {
  /* outline: 1px solid green; */
}

body {
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  font-family: var(--font-family), sans-serif;
  color: var(--gray-blue);

  background-image: url("./images/bg-top.svg");
  background-position: left 50vw top -5vh;
  background-repeat: no-repeat;
  background-color: var(--very-light-gray-blue);
  text-align: center;
}

main {
  width: 330px;
  margin: auto;
}

.duration {
  margin: 4em 0;
}
.duration h1 {
  font-size: 2em;
}

.duration > div {
  margin: 3em 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.1em 0;
  color: var(--light-gray-blue);
}

.duration > div p {
  align-self: center;
}

.toggle-btn {
  background-color: hsl(237, 63%, 64%);
  width: 3.5em;
  height: 2em;
  border-radius: 1em;
  margin: 0 1.5em;
  padding: 0.3em;
  display: flex;
  flex-direction: row;
  transition: all 0.5s ease-in-out;
}

.toggle {
  width: 1.4em;
  height: 1.4em;
  /* margin: 0.1em 0.2em; */
  border-radius: 50%;
  background-color: white;
  transition: all 0.5s ease-in-out;
}

.active {
  padding-left: 1.7em;
}

.cards {
  margin: 5.5em 0;
}

.card {
  background-color: white;
  border-radius: 1em;
  padding: 2em;
  margin: 2em 0;
  max-width: 375px;

  box-shadow: 0 0 1em 1em hsla(232, 13%, 33%, 0.04);
}

.card h3 {
  font-size: 1.2em;
}

.card div {
  display: flex;
  color: var(--dark-gray-blue);
  margin: 24rem auto;
  width: fit-content;
}

.card h2 {
  font-size: 4.5em;
}

.card h4 {
  font-size: 2.5em;
  align-self: center;
  padding: 0.2em;
}

.card > p {
  padding: 1.15em;
  border-top: 1px solid var(--light-gray-blue);
}

.card > p:last-of-type {
  border-bottom: 1px solid var(--light-gray-blue);
}

.card button {
  width: 100%;
  background-image: var(--linear-gradient);
  padding: 1em;
  text-transform: uppercase;
  color: white;
  font-weight: var(--font-weight);
  font-family: var(--font-family);
  border-radius: 0.5em;
  margin: 2.5em 0 0;
}

.card:nth-child(2) {
  background-image: var(--linear-gradient);
  color: white;
}

.card:nth-child(2) div {
  color: white;
}

.card:nth-child(2) > p {
  border-color: var(--very-light-gray-blue);
}

.card:nth-child(2) button {
  color: hsl(237, 63%, 64%);
  /* background-color: #fff; */
  background: white;
}

@media (min-width: 540px) {
  body {
    background-image: url("./images/bg-top.svg"), url("./images/bg-bottom.svg");
    background-position: right top, left bottom;
    background-repeat: no-repeat, no-repeat;
  }
}
